#Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

#Phpstorm
.idea/
phpstorm.php

#Eclipse
.buildpath
.project
.settings/*

#NetBeans
/nbproject/
build/
nbbuild/

nbdist/
.nb-gradle/

#INTELLIJ
.idea/*